@model webBotica2.Models.Producto

@{
    ViewData["Title"] = "Create";
}

<h2 class="text-center mb-4">Agregar Producto</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                    <div class="mb-3">
                        <label asp-for="Sku" class="form-label">SKU</label>
                        <input asp-for="Sku" class="form-control" maxlength="8" oninput="this.value = this.value.replace(/[^0-9]/g, '')" />
                        <span asp-validation-for="Sku" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Nombre" class="form-label">Nombre</label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Presentacion" class="form-label">Descripción</label>
                        <input asp-for="Presentacion" class="form-control" />
                        <span asp-validation-for="Presentacion" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="PrecioCompra" class="form-label">Precio de Compra</label>
                        <input asp-for="PrecioCompra" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" />
                        <span asp-validation-for="PrecioCompra" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="PrecioVenta" class="form-label">Precio de Venta</label>
                        <input asp-for="PrecioVenta" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" />
                        <span asp-validation-for="PrecioVenta" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="FechaVen" class="form-label">Fecha de Vencimiento</label>
                        <input asp-for="FechaVen" class="form-control" type="date" />
                        <span asp-validation-for="FechaVen" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Stock" class="form-label">Stock</label>
                        <input asp-for="Stock" class="form-control" />
                        <span asp-validation-for="Stock" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="StockMinimo" class="form-label">Stock Minimo</label>
                        <input asp-for="StockMinimo" class="form-control" />
                        <span asp-validation-for="StockMinimo" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IdProveedor" class="form-label">Proveedor</label>
                        <select asp-for="IdProveedor" class="form-select" asp-items="ViewBag.IdProveedor"></select>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IdLaboratorio" class="form-label">Laboratorio</label>
                        <select asp-for="IdLaboratorio" class="form-select" asp-items="ViewBag.IdLaboratorio"></select>
                        <span asp-validation-for="IdLaboratorio" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IdCategoria" class="form-label">Categoría</label>
                        <select asp-for="IdCategoria" class="form-select" asp-items="ViewBag.IdCategoria"></select>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IdMarca" class="form-label">Marca</label>
                        <select asp-for="IdMarca" class="form-select" asp-items="ViewBag.IdMarca"></select>
                    </div>

                 
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-success">Registrar</button>
                        <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


